@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "FZZZHONGJW";
    src: url("~@/static/font/FZZZHONGJW.TTF") format("truetype");
  }

:root {
    --tabBar-height: 70px;
}
